@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #000;
}
.wrapper .button{
    display: inline-block;
    width: 60px;
    height: 60px;
    float: left;
    margin: 300px 10px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover{
    width: 200px;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
    background: #333;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #0e76a8;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #738adb;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #e1306c;
}
.wrapper .button .icon a {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
    color: #fff;

}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;

}

.wrapper .button:nth-child(1) span{
    color: #333;
}
.wrapper .button:nth-child(2) span{
    color: #0e76a8;
}
.wrapper .button:nth-child(3) span{
    color: #738adb;
}
.wrapper .button:nth-child(4) span{
    color: #e1306c;
}